// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	display: inline-block;
	border: 2px solid #fff;
	padding: 15px 20px;
	font-size: 0.875rem;
	text-transform: uppercase;
	color: #fff;
	font-family: nexa;
	transition: 0.2s all linear;
	&:hover, &:focus {
		cursor: pointer;
		color: $brand-color;
		border-color: $brand-color;
	}
	&-search {
		background-color: $brand-color;
	    padding: 14px 25px 13px 40px;
	    border-color: $brand-color;
	    &:hover, &:focus {
	    	background-color: transparent;
	    	border-color: $brand-color;
	    	color: $brand-color;
	    }
	}
	&-product {
		background-color: $brand-color;
		border-color: $brand-color;
		border-radius: 100px;
		padding: 4px 17px;
		font-family: opensans;
		font-weight: 700;
		font-size: 0.7rem;
		&:hover, &:focus {
			color: $brand-color;
			background-color: transparent;
		}
	}
}