// -----------------------------------------------------------------------------
// This file contains all styles related to the checkbox component.
// -----------------------------------------------------------------------------
.check {
	padding-left: 1.2rem;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	font-weight: 400;
	flex-grow: 1;
	.check-box {
		position: absolute;
		margin-left: -1rem;
		width: 1rem;
		height: 1rem;
		border: 2px solid $dark-grey;
		border-radius: 4px;
		color: $dark-grey;
	}
	.check-input {
		position: absolute;
		appearance: none;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		margin: 0;
		&:checked {
			& + .check-box {
				&:before {
					content: '\f00c';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: fontawesome;
					font-size: 0.7rem;
				}
			}
		}
	}

	.title {
		font-size: 1rem;
		color: $dark-grey;
		margin-left: 5px;
	}
	.sub-title {
		font-size: 0.75rem;
		color: $mid-grey;
		margin-left: 10px;
	    margin-bottom: -2px;
	    @media screen and (max-width: 767px) {
	    	display: none;
	    }
	}
}

/* Checked */

.check-input:checked + .check-box {
	&:before {
		content: '';
		position: absolute;
	}
}
/* Focus */

.check-input:focus + .check-box {
	box-shadow: 0 0 2px 1px rgba($brand-color, 1);
}

.check-input:checked:focus + .check-box {
	box-shadow: 0 0 2px 1px rgba($brand-color, 1);
}
/* Disabled */

.check-input:disabled + .check-box {
	border-color: $mid-grey;
}

.check-input:checked:disabled + .check-box {
	border-color: $mid-grey;
	&:before {
		color: $mid-grey;
	}
}

