// -----------------------------------------------------------------------------
// This file contains all styles related to the s-testimonials of the site/application.
// -----------------------------------------------------------------------------

.s-testimonials {
	background-color: $brand-color;
	padding: 55px 0;
	.h3 {
		text-align: center;
		margin-bottom: 45px;
	}
}